[submodule "src/elevation_mapping"]
	path = src/elevation_mapping
	url = https://github.com/ganlumomo/elevation_mapping.git
[submodule "src/traversability_estimation"]
	path = src/traversability_estimation
	url = https://github.com/ganlumomo/traversability_estimation.git
[submodule "src/traversability_projection"]
	path = src/traversability_projection
	url = https://github.com/ganlumomo/traversability_projection.git
[submodule "src/kindr_ros"]
	path = src/kindr_ros
	url = https://github.com/ANYbotics/kindr_ros.git
[submodule "src/any_node"]
	path = src/any_node
	url = https://github.com/ANYbotics/any_node.git
[submodule "src/dataset_ros_player"]
	path = src/dataset_ros_player
	url = https://github.com/ganlumomo/dataset_ros_player.git
[submodule "src/grid_map"]
	path = src/grid_map
	url = https://github.com/ganlumomo/grid_map.git
