[submodule "src/elevation_mapping"]
	path = src/elevation_mapping
	url = https://github.com/ganlumomo/elevation_mapping.git
[submodule "src/grid_map"]
	path = src/grid_map
	url = https://github.com/ANYbotics/grid_map.git
[submodule "src/traversability_estimation"]
	path = src/traversability_estimation
	url = https://github.com/ganlumomo/traversability_estimation.git
[submodule "src/kitti_player_mini"]
	path = src/kitti_player_mini
	url = https://github.com/ganlumomo/kitti_player_mini.git
[submodule "src/traversability_projection"]
	path = src/traversability_projection
	url = https://github.com/ganlumomo/traversability_projection.git
